body {
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    text-decoration: none !important;
}
.input-group-text {
    min-width: 120px !important;
    justify-content: flex-end !important;
    cursor: pointer;
}
h6 {
    display: inline-block !important;
}
p,
ul {
    margin-bottom: 0 !important;
}
