.content {
    position: absolute;
    top: 70px;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    .title {
        font-size: 20px;
        font-weight: bold;
    }
}
